In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset[['charges']]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['mse','mae'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(indep, dep)

C:\Users\sony\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   12.9s finished
C:\Users\sony\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [8]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}:

In [9]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.073912,0.004725,0.009390,0.000956,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.836033,0.820644,0.805040,0.820572,0.012653,7
1,0.500441,0.004756,0.030285,0.000007,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.833343,0.828466,0.816670,0.826160,0.006999,5
2,0.046328,0.004335,0.007396,0.003796,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.829295,0.823582,0.808025,0.820301,0.008988,8
3,0.383045,0.000049,0.027588,0.003778,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.842578,0.834855,0.813928,0.830453,0.012104,2
4,0.047047,0.004746,0.009408,0.000949,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.833288,0.815769,0.788731,0.812596,0.018328,9
5,0.382749,0.000157,0.029546,0.000969,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.840523,0.832866,0.816006,0.829798,0.010242,4
6,0.348108,0.004237,0.006725,0.003418,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.808423,0.821276,0.799134,0.809611,0.009079,12
7,3.348746,0.024609,0.024176,0.002838,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.825126,0.828831,0.815437,0.823131,0.005647,6
8,0.198067,0.011986,0.008715,0.000950,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.804653,0.822108,0.805415,0.810725,0.008055,11
9,1.939745,0.014816,0.024847,0.003781,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.839019,0.831226,0.819750,0.829998,0.007914,3
10,0.201907,0.000958,0.008725,0.000956,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.814294,0.819150,0.800927,0.811457,0.007705,10
11,1.728967,0.205780,0.020838,0.007384,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.841856,0.835994,0.820219,0.832690,0.009137,1

In [10]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:21
BMI:44
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [11]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[40168.76372]